[submodule "vcpkg"]
	path = local/windows-x86/third-party/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "local/windows-x86/third-party/vcpkg"]
	path = local/windows-x86/third-party/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "Reflex-Utility"]
	path = trackmanager/Utility
	url = https://github.com/JKapostins/Reflex-Utility.git
[submodule "trackmanager/Utility"]
	path = trackmanager/Utility
	url = https://github.com/JKapostins/Reflex-Utility.git
